<!DOCTYPE html>
<html lang="en">
<head>
  <title>no2bio free wifi</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style type="text/css">
    <%- include bootstrap/css/bootstrap.min.css %>
  </style>
  <style>
    <%- include main.css %>
  </style>
</head>
  <body>
    <header>
        <a href="#eng" class="btn btn-default">English</a>
        <a href="#heb" class="btn btn-default">עברית</a>
    </header>
    <div class="container">
      <div id="heb">
        <div class="alert alert-info">
          גלישה חופשית לאנשים חופשיים
          באדיבות ארגון
          no2bio
          -
          <strong>
  ישראל צריכה תעודה חכמה,
   לא הרפתקה מסוכנת
          </strong>
        </div>
        <div class="jumbotron">
          <h1>אל תוציאו תעודה ביומטרית!</h1>
          <h3>הוצאת תעודת זהות או דרכון ביומטרים גוררת כניסה למאגר הביומטרי.
            <em>משם כבר לא תוכלו לצאת.</em>
          </h3>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="panel panel-warning">
              <div class="panel-body">
                <a href="http://no2bio.org">
                רוצים לדעת למה כל כך חשוב לעצור את הקמת המאגר?
                </a>
              </div>
              <div class="panel-footer">
                <a href="http://no2bio.org">
                  לאתר שלנו &gt;
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-warning">
              <div class="panel-body">
                <a href="http://www.mako.co.il/nexter-internet/security/Article-d4d1bd0684b2441006.htm">
                השב"כ, המוסד ואגף המודיעין בצה"ל אוסרים על אנשיהם להיכנס לפיילוט המאגר הביומטרי.
                </a>
              </div>
              <div class="panel-footer">
                <a href="http://www.mako.co.il/nexter-internet/security/Article-d4d1bd0684b2441006.htm">
                לידיעה במאקו &gt;
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-warning">
              <div class="panel-body">
                <a href="http://no2bio.org/letters-to-knesset/">
                  מדענים ואנשי אקדמיה מזהירים את הכנסת מפני הקמת המאגר הביומטרי - פעמיים.
                </a>
              </div>
              <div class="panel-footer">
                <a href="http://no2bio.org/letters-to-knesset/">
                פרטים נוספים &gt;
                </a>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div id="eng">
      <div class="alert alert-info">
        Free WiFi for Free People
        <strong>
          Israel Needs a smart ID, not a dangerous advanture
        </strong>
      </div>
      <div class="jumbotron">
        <h1>Do not request a biometric document!</h1>
        <h3>Requesting a biometric ID or passport submits your data to the biometric database</h3>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-warning">
            <div class="panel-body">
              <a href="http://www.haaretz.com/news/national/.premium-1.577516">
                Shin Bet, Mossad bar employees from signing up for biometric database
              </a>
            </div>
            <div class="panel-footer">
              <a href="http://www.haaretz.com/news/national/.premium-1.577516">
                Haaretz Article &gt;
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-warning">
            <div class="panel-body">
              <a href="https://www.eff.org/deeplinks/2012/07/israels-biometric-database-deemed-harmful-high-court-justices">
              Israel’s Biometric Database Deemed “Harmful” by High Court Justices
              </a>
            </div>
            <div class="panel-footer">
              <a href="https://www.eff.org/deeplinks/2012/07/israels-biometric-database-deemed-harmful-high-court-justices">
                EFF Article &gt;
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-warning">
            <div class="panel-body">
              <a href="http://english.no2bio.org">
                Learn more about why it is so important to stop the biometric database.
              </a>
            </div>
            <div class="panel-footer">
              <a href="http://english.no2bio.org">
                Our website &gt;
              </a>
            </div>
          </div>
        </div>
      </div>

  </div>

    <footer>
      <div class="container">
      מוגש על ידי החברים מארגון
      <a href="no2bio.org">no2bio</a>
      . ישראל צריכה תעודה חכמה, לא עוד הרפתקה מסוכנת
      </div>
    </footer>
  </body>
</html>
